Main Index Content

.docs-example
  :erb
    <div class="container">
      <div class="docs-swatch bg-brand"></div>
      <div class="docs-swatch bg-accent"></div>
      <div class="docs-swatch bg-primary"></div>

      <div class="docs-swatch bg-success"></div>
      <div class="docs-swatch bg-warning"></div>
      <div class="docs-swatch bg-danger"></div>
    </div>





%h1{ class: "display4" }= lorem.sentence
%h2{ class: "display3" }= lorem.sentence
%h3{ class: "display2" }= lorem.sentence
%h4{ class: "display1" }= lorem.sentence

%h1.headline= lorem.sentence
%h2.title= lorem.sentence
%h3.subhead= lorem.sentence

%p.lead= lorem.sentence
%p= lorem.paragraph
.caption= lorem.words 5

.btn= lorem.words 2

:code
  # lang: html
  <div class="display4"> ... </div>
  <div class="display3"> ... </div>
  <div class="display2"> ... </div>
  <div class="display1"> ... </div>
